@{
    ViewData["Title"] = "Show Person Data";
}

@model List<PersonModel>

<h1 class="display-2">Person Details Page</h1>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Given Name
            </th>
            <th>
                Given Name
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Date of Birth
            </th>
            <th>
                Age
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var user in Model)
            {
                <tr>
                    <td>
                        @user.ID
                    </td>
                    <td>
                        @user.GivenName
                    </td>
                    <td>
                        @user.FamilyName
                    </td>
                    <td>
                        @user.PhoneNumber
                    </td>
                    <td>
                        @user.DateOfBirth
                    </td>
                    <td>
                        @user.Age
                    </td>
                </tr>
            }
        }
    </tbody>
</table>